{% extends 'contact/base.html' %}


{% block headers %}
    <title>list contacts</title>
    <style>
    table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
    }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

{% endblock %}


{% block content %}
<h1> List of contacts in system</h1>
<a href="{% url 'create-contact' %}"> Create Contact</a>
<br>
<table>
    <tr>
    <td> Name</td>
    <td> Mobile Number</td>
    <td> Date Of Birth</td>
    <td> Email</td>
    <td> Location</td>
    </tr>

    {% for contact in contacts %}
       <tr>
           <td> {{contact.name |upper }}</td>
            <td> {{contact.mobile_number }}</td>
           <td> {{contact.date_of_birth |date:'d-m-Y' }}</td>
            <td> {{contact.email|lower }}</td>
            <td> {{contact.location }}</td>
       </tr>
    {% endfor %}
</table>
{% endblock %}



{% block contact %}

<b> location: Bangalore</b>

{% endblock %}